#qr-placeholder {
    border: 5px dashed #eaeaea;
    text-align: center;
    margin: 0;
    width: 180px;
    height: 180px;
    padding-top: 32px;
    line-height: 2.0em;
}

#lang-offer {
    background-color: #5dfd5d;
    padding: 0.25em 0.5em;
    border: 1px solid #36af36;
}

#lang-offer a {
    font-weight: bold;
    color: #093a09;
    text-decoration: underline;
}

#lang-offer a:hover,
#lang-offer a:focus {
    color: #157715;
}

#consent {
    background-color: #f5f5f5;
    padding: 2em 1em;
    margin: 0 0.5em;
    border: 1px solid #9f9f9f;
    position: sticky;
    bottom: 30%;
}