<!doctype html>
<html lang="{$locale|lower}">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VTKLW2YCG9"></script>
		<script n:syntax="off">
			currentConsent = localStorage.getItem("consent");
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-VTKLW2YCG9');

			gtag('consent', 'default', {
				'ad_user_data': currentConsent !== null ? currentConsent : 'denied',
				'ad_personalization': currentConsent !== null ? currentConsent : 'denied',
				'ad_storage': currentConsent !== null ? currentConsent : 'denied',
				'analytics_storage': currentConsent !== null ? currentConsent : 'denied',
				'wait_for_update': 500,
			});
			dataLayer.push({'gtm.start': new Date().getTime(), 'event': 'gtm.js'});
		</script>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script n:syntax="off">
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-5866907568566547",
				enable_page_level_ads: true
			});
		</script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#ffffff">

		<meta name =”robots” content=”index”>
		<link rel="manifest" href="{$basePath}/manifest.json">
		<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon.png">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		{*}<link rel="stylesheet" href="{$basePath}/css/datagrid.min.css">
		<link rel="stylesheet" href="{$basePath}/css/datagrid-spinners.min.css">*}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
		<link rel="stylesheet" href="{$basePath}/css/global.css?v=2024-05-01-15-15">

		<title>{ifset title}{include title|stripHtml} | {/ifset}{_ui.general.title}</title>

        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61b7a1240e39a90019f4e775&product=sticky-share-buttons" async="async"></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VND9MG5"
						  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="container bg-primary">
			<div class="row">
				<div class="col-12">
					<p class="mb-0 p-3 text-center">
						<a href="https://www.wedos.com/?ap=PSzvw6" class="text-white">Looking for a web/mail/server hosting with superior DDoS protection?</a>
					</p>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-light navbar-expand-lg bg-light mb-3">
			<div class="container">
				{* -- logo -- *}
				<a class="navbar-brand" href="/">
					<img src="{$basePath}/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
					{_ui.general.name}
				</a>
				{* -- mobile menu toggler -- *}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{* -- main menu -- *}
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{$basePath}{plink Tcg:default}">TCG Pocket <span class="badge badge-warning">NEW!</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{$basePath}{plink Homepage:default#latest-codes}">{_ui.menu.latest-codes}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{$basePath}{plink Homepage:default#most-active-codes}">{_ui.menu.most-active}</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="{$basePath}{plink Vivillon:default}" role="button" data-toggle="dropdown" aria-expanded="false">
								Vivillon
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:archipelago}">Archipelago</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:continental}">Continental</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:elegant}">Elegant</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:garden}">Garden</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:high-plains}">High Plains</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:icy-snow}">Icy Snow</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:jungle}">Jungle</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:marine}">Marine</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:meadow}">Meadow</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:modern}">Modern</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:monsoon}">Monsoon</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:ocean}">Ocean</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:polar}">Polar</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:river}">River</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:sandstorm}">Sandstorm</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:savanna}">Savanna</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:sun}">Sun</a>
								<a class="dropdown-item" href="{$basePath}{plink Vivillon:tundra}">Tundra</a>
							</div>
						</li>
						<li n:class="nav-item,$presenter->getName() === 'Guide'?active">
							<a class="nav-link" href="{plink Guide:}">{_ui.menu.guide}</a>
						</li>
					</ul>

                    <ul class="navbar-nav flex-row ml-md-auto d-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="locales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{$basePath}/images/flags_iso/24/{$locale|lower}.png" alt="{$locale|lower}"> {$locale|upper}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="locales">
                                <a n:foreach="$localesList as $locItem" n:class="$locItem === $locale ? font-weight-bold,dropdown-item" n:href="changeLocale!,$locItem">
                                    <img src="{$basePath}/images/flags_iso/24/{$locItem|lower}.png" alt="{$locItem|lower}" hreflang="{$locItem|lower}"> {$locItem|upper}
                                </a>
                                {*<div class="dropdown-divider"></div>*}
                            </div>
                        </li>
                        {*<li class="nav-item">
                            <a class="nav-link p-2" href="https://bootstrap-slack.herokuapp.com" target="_blank" rel="noopener" aria-label="Slack"><svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" focusable="false"><title>Slack</title><path fill="currentColor" d="M210.787 234.832l68.31-22.883 22.1 65.977-68.309 22.882z"></path><path d="M490.54 185.6C437.7 9.59 361.6-31.34 185.6 21.46S-31.3 150.4 21.46 326.4 150.4 543.3 326.4 490.54 543.34 361.6 490.54 185.6zM401.7 299.8l-33.15 11.05 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.38-68.36 22.92 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.43-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.5-13.92 2.87-29.06 16.78-33.56l33.12-11.03-22.1-65.9-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.48-13.93 2.89-29.07 16.81-33.58l33.15-11.05-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.46 34.38 68.36-22.92-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.47 34.42 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.87 29.06-16.78 33.56L329.7 194.6l22.1 65.9 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.88 29.07-16.81 33.57z" fill="currentColor"></path></svg>
                            </a>
                        </li>*}
                    </ul>
				</div>
			</div>
		</nav>

        {*<div class="container" n:if="!empty($offerLocale)">
            <div class="row">
                <div class="col-md-12">
                    <p id="lang-offer">Good news! Our site is now available in your language. <a n:href="changeLocale!,$offerLocale">Try it now!</a></p>
                </div>
            </div>
        </div>*}

		<div n:if="count($flashes) > 0" class="container">
			<div class="row">
				<div class="col-12">
					<div n:foreach="$flashes as $flash" n:class="alert,mb-3, 'alert-'.$flash->type">{$flash->message}</div>
				</div>
			</div>
		</div>

		{include content}
		<div id="consent">
			<p class="text-center">
				<span>We use cookies to personalize your experience at our website.</span><br><br>
				<a id="cookie-grant-consent" class="btn btn-primary btn-sm" href="#">Grant all</a>
				<a id="cookie-deny-consent" class="btn btn-secondary btn-sm" href="#">Deny</a>
			</p>
		</div>
		<footer class="p-3 mt-3 bg-light text-dark text-center">
			&copy;{date('Y')} pokemon-friends.eu | <a n:href="Privacy:">Privacy policy</a> | <a href="javascript:showConsent();">Change consent</a><br>
			<span class="text-secondary" style="font-size:0.8em">Pokémon Go is the registered trademark of Niantic. Pokémon is registered trademark of The Pokémon Company. This website is not affiliated with Niantic or The Pokémon Company.</span><br>
		</footer>

		<!-- SHARE THIS BUTTON -->
		<div class="sharethis-sticky-share-buttons"></div>

		<script src="{$basePath}/js/analytics.js?v=202409071641"></script>
		{block scripts}
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
			<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="{$basePath}/js/qrcode.min.js"></script>
			<script src="{$basePath}/js/global.js?v=2023-05-01-10-39"></script>
		{/block}

		<script>
			{var $swPath = $basePath . '/js/service-worker.js'}
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', function() {
					navigator.serviceWorker.register({$swPath}).then(function(registration) {
						console.log('ServiceWorker registration successful with scope: ', registration.scope);
					}, function(error) {
						console.log('ServiceWorker registration failed: ', error);
					});
				});
			}
		</script>
	</body>
</html>
