{block content}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center text-secondary h2 mb-3">{_ui.general.hp-heading}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form n:name="postCodeForm">
				<hr class="d-block d-md-none">
				<p class="d-block d-md-none text-center"><b>{_ui.general.post-your-code}</b></p>
				<div class="input-group mb-3">
					<div class="input-group-prepend d-none d-md-flex">
						<span class="input-group-text" id="basic-addon1">{_ui.general.post-your-code}</span>
					</div>
					<input n:name="code" class="form-control form-control-lg" placeholder="---- ---- ----" aria-label="Post your code" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button n:name="ok" class="btn btn-primary" id="button-addon2">{_ui.form.submit}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="alert alert-info">
				<i class="fa fa-info-circle pr-3"></i>{_ui.general.hp-tip|noescape}
			</div>
			<div class="alert alert-warning">
				<p><i class="fa fa-info-circle pr-3"></i><b>Looking for TCG Pocket friends?</b> We've got you covered!</p>
				<p><a href="{plink Tcg:default}" class="btn btn-sm btn-warning">Search for TCG Pocket friends</a></p>
			</div>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			{control vivillonPicker}
		</div>
		<div class="col-md-6">
			{control countryPicker}
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 col-sm-12">
			<a name="latest-codes" id="latest-codes"></a>
			<h2 class="h3 text-center text-secondary mt-3 mb-3">{_ui.menu.latest-codes|upper}</h2>
			{control latestCodesTable}

			<a name="most-active-codes" id="most-active-codes"></a>
			<h2 class="h3 text-center text-secondary mt-5 mb-3">{_ui.menu.most-active|upper}</h2>
			{control mostActiveCodesTable}
		</div>
		<div class="col-md-3 d-none d-md-block">
			<div id="main-qr" class="position-fixed">
				<p id="qr-placeholder" class="text-black-50 font-weight-bold">
                    {_ui.qr.before-button}<br>
					<button type="button" class="btn btn-sm btn-outline-primary disabled"><i class="fa fa-qrcode pr-1"></i> {_ui.qr.button-text}</button><br>
					{_ui.qr.after-button}
				</p>
			</div>
		</div>
	</div>

	<div id="qr-break"></div>

	<div class="row" lang="en">
		<div class="col-md-12">
			<h2>Friends in Pokemon GO</h2>
			<p>
				There are many different reasons for playing Pokémon-GO such as catching Pokémons and battleing in gyms. However there is one thing we’d like to focus on - Friends.
			</p>
			<h3>Why is it important to have friends?</h3>

			<h4>1. To fulfill some quests</h4>
			<strong>Special research - A ripple in time</strong>
			<table class="table">
				<tbody>
				<tr>
					<td>part</td>
					<td>task</td>
				</tr>
				<tr>
					<td>2/8
						<br>
					</td>
					<td>Make 3 new friends</td>
				</tr>
				<tr>
					<td>4/8</td>
					<td>Send 20 gifts to friends</td>
				</tr>
				<tr>
					<td>5/8</td>
					<td>Trade a Pokemon</td>
				</tr>
				</tbody>
			</table>

			<hr>

			<h4>2. To fight together in Gyms and Raids</h4>
			<p>You gain special bonuses based on level of friendship described below.</p>

			<hr>

			<h4>3. To send gifts to your friends such as pokéballs, stardust and fruits</h4>

			<hr>

			<h4>4. To trade pokémons</h4>

			<hr>

			<h3 class="h4">The advantages of having friends</h3>
			<ul>
				<li>Level 0 - you can send gifts</li>
				<li>Level 1 GOOD FRIENDS - you can trade pokémons, except mythical pokémons</li>
				<li>Level 2 GREAT FRIENDS - Stardust is discounted during trading; Attack bonus increases at the gym/raid battle; + 1 ball in the Raid bonus</li>
				<li>Level 3 ULTRA FRIENDS - Stardust is more discounted during trading; Attack bonus increases more at the gym/raid battle;  + 2 balls in the Raid bonus</li>
				<li>Level 4 BEST FRIENDS - Stardust is at the maximum discount; Attack bonus is at the maximum level at the gym/raid battle; + 4 balls in the Raid bonus</li>
			</ul>

		</div>
	</div>

</div>