{block title}Friends from {$countryName}{/block}
{block content}
<div class="container" lang="en">
	<div class="row">
		<div class="col">
			<h1>Pokemon friends from {$countryName}<img class="float-right" src="{$basePath}/images/flags_iso/32/{$countryShortcut}.png"></h1>
			<p class="lead">Here you can find all codes and friends from {$countryName}.</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{control vivillonPicker}
		</div>
		<div class="col-md-6">
			{control countryPicker}
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-sm-12">
			<a name="latest-codes" id="latest-codes"></a>
			<h2 class="h3 text-center text-secondary mt-3 mb-3">{_ui.menu.latest-codes|upper}</h2>
			{control latestCodesTable}

			{*<a name="most-active-codes" id="most-active-codes"></a>
			<h2 class="h3 text-center text-secondary mt-5 mb-3">{_ui.menu.most-active|upper}</h2>
			{control mostActiveCodesTable}*}
		</div>
		<div class="col-md-3 d-none d-md-block">
			<div id="main-qr" class="position-fixed">
				<p id="qr-placeholder" class="text-black-50 font-weight-bold">
					{_ui.qr.before-button}<br>
					<button type="button" class="btn btn-sm btn-outline-primary disabled"><i class="fa fa-qrcode pr-1"></i> {_ui.qr.button-text}</button><br>
					{_ui.qr.after-button}
				</p>
			</div>
		</div>
	</div>
	<div id="qr-break"></div>
</div>
