{block title}How to add friend{/block}
{block content}
<div class="container" lang="en">
	<div class="row">
		<div class="col">
			<h1>Guide for managing friends in Pokémon GO</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-7">
			<a name="how-to-add-friends" id="how-to-add-friends"></a>
			<h2>How to add friends</h2>
			<ol>
				<li>Tap on your avatar at the right bottom corner</li>
				<li>Tap on “Friends” tab up on the screen</li>
				<li>Tap on “Add friend” button</li>
				<li>
					Now you have two options how to add friend
					<ul>
						<li>By typing or pasting their trainer code<br><a href="#paste-from-this-site" class="btn btn-sm btn-outline-secondary">Guide for pasting codes from this site</a></li>
						<li>By loading their QR code<br><a href="#qr-from-this-site" class="btn btn-sm btn-outline-secondary">Guide for loading QR codes from this site</a></li>
					</ul>
				</li>
			</ol>

			<div class="alert alert-success">
				If you need to know where to find your trainer code or qr code follow this <a href="#how-to-share-code">guide for sharing trainer code</a>.
			</div>

			<a name="paste-from-this-site" id="paste-from-this-site"></a>
			<h3 class="h4">Adding friends by pasting code from this site</h3>
			<ol>
				<li>Pick any trainer code from <a href="/#latest-codes">codes list</a></li>
				<li>Click on <a href="#" class="btn btn-sm btn-outline-secondary disabled">Copy as text</a> button</li>
				<li>Paste into your Pokémon GO app</li>
			</ol>

			<a name="qr-from-this-site" id="qr-from-this-site"></a>
			<h3 class="h4">Adding friends by loading their QR code</h3>
			<ol>
				<li>Pick any trainer code from <a href="/#latest-codes">codes list</a></li>
				<li>Click on <a href="#" class="btn btn-sm btn-outline-primary disabled">Show QR</a> button</li>
				<li>Tap on QR CODE at the top left of your Pokémon GO app and direct your phone camera towards shown QR code</li>
			</ol>

			<div class="alert alert-info">
				<strong>Tip!</strong> If you want sooner response to your friends request use <a href="/#latest-codes">Latest codes list</a> and if you want more active friends use <a href="/#most-active-codes">The most active codes list</a>
			</div>
			<a name="how-to-share-code" id="how-to-share-code"></a>
			<h2>How to share friend/trainer code</h2>

			<div class="alert alert-success">
				If you need to know how to add a friend, follow this <a href="#how-to-add-friends">guide for adding friend</a>.
			</div>

			<ol>
				<li>Tap on your avatar at the right bottom corner</li>
				<li>Tap on “Friends” tab up on the screen</li>
				<li>Tap on “Add friend” button</li>
				<li>
					Now you have more ways of sharing your code
					<ul>
						<li>By copying and pasting your code at the top of <a href="/">this site’s homepage</a></li>
						<li>By using “Share my trainer code” button at the bottom of “Add friend” screen in your Pokémon GO app - than you can select one of offered apps to share the code (typically Facebook, Messenger, WhatsApp etc.)</li>
						<li>By showing your QR code to your friend - to show your QR code, tap on the QR code icon under your avatar at “Add friend” screen in your Pokémon GO app</li>
					</ul>
				</li>
			</ol>

			<div class="alert alert-info">
				<strong>Tip!</strong> To copy your trainer code, you can use “Copy my trainer code” button at the bottom of “Add friend” screen in your Pokémon GO app
			</div>
		</div>
		<div class="col-lg-6 col-md-5">
			<p class="text-center">
				{control image:Responsive 'screen-1.png','Bottom Pokemon GO bar','img-fluid img-thumbnail'}
				<span class="d-inline-block pt-2">Tapping an avatar brings you to the profile screen</span>
			</p>
			<p class="text-center">
				<i class="fa fa-angle-down h3"></i>
			</p>
			<p class="text-center">
				{control image:Responsive 'screen-2.png','Friends tab at profile page','img-fluid img-thumbnail'}
				<span class="d-inline-block pt-2">At the top of profile screen is tab "Friends" which brings you to the Friends screen</span>
			</p>
			<p class="text-center">
				<i class="fa fa-angle-down h3"></i>
			</p>
			<p class="text-center">
				{control image:Responsive 'screen-3.png','Add friend button','img-fluid img-thumbnail'}
				<span class="d-inline-block pt-2">Add friend button gets you to screen where you can manage your friends and share your trainer code with others</span>
			</p>
			<p class="text-center">
				<i class="fa fa-angle-down h3"></i>
			</p>
			<p class="text-center">
				{control image:Responsive 'screen-4.png','Friends manager screen','img-fluid img-thumbnail'}
				<span class="d-inline-block pt-2"></span>
			</p>
		</div>
	</div>
</div>
