{if !isset($pagerAnchor)}{var $pagerAnchor = ''}{/if}

{if $codes->count() > 0}
<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">{_ui.table.code}</th>
			<th scope="col" class="text-center">{_ui.table.country}</th>
			<th scope="col" class="text-center">Vivillon</th>
			<th scope="col">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$codes as $code">
			<th scope="row">{if $paginator->getPage() === 1}{$iterator->counter}{else}{$iterator->counter + (($paginator->getPage() - 1) * $paginator->getItemsPerPage())}{/if}</th>
			<td>{$code->code|friendCodeSpaces}<br><span class="text-secondary" style="white-space: nowrap">{$code->updated_at|formatDateDiff}</span></td>
			<td class="text-center"><img src="{$basePath}/images/flags_iso/24/{$code->country_code}.png" alt="{$code->country_code}"></td>
			<td class="text-center">{if !empty($code->vivillon_shortcut)}<img src="{$basePath}/images/vivillon/vivillon-{$code->vivillon_shortcut}.png" alt="{$code->vivillon_shortcut}" width="24">{/if}</td>
			<td data-qrcode="{$code->code|friendCode}" class="text-right">
				<button type="button" class="btn btn-sm btn-outline-primary show-qrcode d-none d-md-inline-block"><i class="fa fa-qrcode pr-1"></i> {_ui.qr.button-text}</button>
				{*}<input type="hidden" readonly class="form-control-sm form-control-plaintext" id="copy-1-3" value="{$code->code|friendcode}">*}
				<a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" data-qrcopy="{$code->code|friendCode}"><i class="fa fa-copy pr-1"></i> <span class="d-none d-md-inline-block">{_ui.table.copy}</span></a>
			</td>
		</tr>
	</tbody>
</table>
{else}
	<div class="alert alert-warning" role="alert">
		<p>No results found. :(</p>
	</div>
	<div class="alert alert-info" role="alert">
		<p>Do you want to add your friend code to this list? <a href="{plink Homepage:default}">Add your friend code and be the first one here</a></p>
	</div>
{/if}



<nav n:if="$paginator->getPageCount() > 1" aria-label="pagination for codes list">
	<ul class="pagination justify-content-center">

		{** FIRST **}
		<li n:class="page-item, $paginator->isFirst()?disabled">
			<a class="page-link"  rel="nofollow" href="{link "this$pagerAnchor", 'page'=>1}" tabindex="-1">{_ui.table.first}</a>
		</li>
		{** PREVIOUS **}
		<li n:class="page-item, $paginator->isFirst()?disabled">
			<a class="page-link"  rel="nofollow" href="{link "this$pagerAnchor", 'page'=>($paginator->getPage()-1)}">{_ui.table.previous}</a>
		</li>

		<li class="page-item disabled">
			<a class="page-link">{$paginator->getPage()} / {$paginator->getPageCount()}</a>
		</li>

		{** NEXT **}
		<li n:class="page-item, $paginator->isLast()?disabled">
			<a class="page-link" rel="nofollow" href="{link "this$pagerAnchor", 'page'=>($paginator->getPage()+1)}" tabindex="-1">{_ui.table.next}</a>
		</li>
		{** LAST **}
		<li n:class="page-item, $paginator->isLast()?disabled">
			<a class="page-link"  rel="nofollow" href="{link "this$pagerAnchor", 'page'=>$paginator->getPageCount()}" tabindex="-1">{_ui.table.last}</a>
		</li>
	</ul>
</nav>