{block title}Pokemon TCG Pocket Friends from all around the world{/block}

{block content}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center text-secondary h2 mb-3">FIND NEW POKEMON TCG POCKET FRIENDS{*{_ui.general.hp-heading}*}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form n:name="postCodeForm">
				<hr class="d-block d-md-none">
				<p class="d-block d-md-none text-center"><b>{_ui.general.post-your-code}</b></p>
				<div class="input-group mb-3">
					<div class="input-group-prepend d-none d-md-flex">
						<span class="input-group-text" id="basic-addon1">{_ui.general.post-your-code}</span>
					</div>
					<input n:name="code" class="form-control form-control-lg" placeholder="---- ---- ---- ----" aria-label="Post your code" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button n:name="ok" class="btn btn-primary" id="button-addon2">{_ui.form.submit}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="alert alert-info">
				<i class="fa fa-info-circle pr-3"></i>{_ui.general.hp-tip|noescape}
			</div>
			<hr>
		</div>
	</div>

	<div class="row">
		{*<div class="col-md-6">
			{control vivillonPicker}
		</div>*}
		<div class="col-md-6">
			{control countryPicker:tcg}
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 col-sm-12">
			<a name="latest-codes" id="latest-codes"></a>
			<h2 class="h3 text-center text-secondary mt-3 mb-3">{_ui.menu.latest-codes|upper}</h2>
			{control latestCodesTable}

			<a name="most-active-codes" id="most-active-codes"></a>
			<h2 class="h3 text-center text-secondary mt-5 mb-3">{_ui.menu.most-active|upper}</h2>
			{control mostActiveCodesTable}
		</div>
		<div class="col-md-3 d-none d-md-block">
			<div id="main-qr" class="position-fixed">
				<p id="qr-placeholder" class="text-black-50 font-weight-bold">
                    {_ui.qr.before-button}<br>
					<button type="button" class="btn btn-sm btn-outline-primary disabled"><i class="fa fa-qrcode pr-1"></i> {_ui.qr.button-text}</button><br>
					{_ui.qr.after-button}
				</p>
			</div>
		</div>
	</div>

	<div id="qr-break"></div>

	<div class="row" lang="en">
		<div class="col-md-12">
			<h2>Pokemon TCG Pocket</h2>
			<p>
				Pokémon TCG Pocket is a mobile game that allows players to collect, trade, and battle with Pokémon cards. To unlock the full potential of the game and engage in exciting battles, players must reach level 3. One of the most effective ways to achieve this is by opening booster packs. These packs contain a variety of cards, including powerful Pokémon, useful Trainer cards, and Energy cards. As players open more packs, they gain experience points, bringing them closer to level 3. Additionally, completing various battle challenges can also contribute to experience point accumulation. Once players reach level 3, they can embark on their battling journey, challenging other players and trainers to test their skills and strategies.
			</p>
			<p>
				<a class="btn btn-outline-primary" href="https://www.pokemon.com/us/strategy/how-to-unlock-battles-in-pokemon-tcg-pocket" target="_blank">
					How to unlock battles in Pokémon TCG Pocket
				</a>
			</p>
			<h3>Why do you need friends?</h3>
			<p>
				While having friends isn't strictly necessary to enjoy Pokémon TCG Pocket, it can definitely add to the overall fun and excitement of the game.
			</p>
			<ul>
				<li><b>Social Interaction:</b> Playing with friends adds a social element to the game, allowing you to chat, strategize, and compete with people you know.</li>
				<li><b>Trading:</b> Friends can trade cards with you, helping you complete your collection and build stronger decks.</li>
				<li><b>Friendly Competition:</b> Friendly matches against friends can be a fun way to practice your skills and test new strategies.</li>
			</ul>
		</div>
	</div>

</div>